
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<head>
    <title>Mã E-Voucher Ưu Đãi - Domino's Pizza Việt Nam</title>
    <link href="~/Content/CSS/evoucher.css" rel="stylesheet" />
</head>

<!-- body -->
<main class="bodyvoucher d-none d-lg-block">
    <!-- For medium devices (desktops, 768px and up) -->
    <div class="box-voucher">
        <div class="boder-popup">
            <div class="voucher">
                <div class="popup">
                    <p>Bạn có mã E-voucher tại Domino's Pizza?</p>
                    <p>Nhập mã E-voucher của bạn ở khung dưới đây để được ưu đãi</p>
                    <div class="input-evoucher">
                        <input type="text" id="Inputvoucher" class="Inputvoucher" placeholder="Nhập Mã E-voucher">
                        <button class="btn-evoucher">Áp dụng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- For small devices (tablets, 576px and up) -->
<main class="bodyvoucher1 d-none d-sm-block d-lg-none ">
    <div class="box-voucher1">
        <div class="boder-popup1">
            <div class="voucher1">
                <div class="popup1">
                    <p>Bạn có mã E-voucher tại Domino's Pizza?</p>
                    <p>Nhập mã E-voucher của bạn ở khung dưới đây để được ưu đãi</p>
                    <div class="input-evoucher1">
                        <input type="text" id="Inputvoucher1" class="Inputvoucher1" placeholder="Nhập Mã E-voucher">
                        <button class="btn-evoucher1">Áp dụng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--  For extra small devices (phones, less than 576px) -->
<main class="bodyvoucher1 d-block d-sm-none ">
    <div class="box-voucher1">
        <div class="boder-popup1">
            <div class="voucher1">
                <div class="popup1">
                    <p>Bạn có mã E-voucher tại Domino's Pizza?</p>
                    <p>Nhập mã E-voucher của bạn ở khung dưới đây để được ưu đãi</p>
                    <div class="input-evoucher1">
                        <input type="text" id="Inputvoucher1" class="Inputvoucher1" placeholder="Nhập Mã E-voucher">
                        <button class="btn-evoucher1">Áp dụng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>