
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    
}
<head>
    <title>Khuyến Mãi Mỗi Ngày - Domino's Pizza Việt Nam</title>
    <link href="~/Content/CSS/promotion.css" rel="stylesheet" />  
</head>
<main class="body">
    <div class="container">
        <div class="bodyKM">
            <div class="img">
                <a>
                    <div class="imgkhuyenmai">
                        
                        <img src="~/Content/images/img/PNG_315X210.png" />
                    </div>
                </a>
            </div>
            <div class="bodytext">
                <div class="TextKM">
                    <a> <h4> MUA 1 TẶNG 1 - SUPER TOPPING</h4></a>
                    <hr>
                    <p>* Mua 1 Pizza size M/L Super Topping kèm thức uống lớn bất kỳ hoặc 2 thức uống nhỏ bất kỳ sẽ được Tặng 1 Pizza cùng size (trừ Pizza Super Topping).</p>
                    <p>* Áp dụng từ 09/10 đến 31/10/2023.</p>
                </div>
            </div>
        </div>
    </div>
</main>